@import '../../../scss/variables.scss';

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 283px;
  height: 62px;
  border: double 3px transparent;
  border-radius: 13px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.253844);
  background-image: linear-gradient($white, $white),
    linear-gradient(135.17deg, #00e476 0.29%, #00b2fd 47.83%, #0074f0 100%);
  @media (max-width: $size-s) {
    width: 283px;
    height: 62px;
  }
  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.05px;
    color: $bg-main;
    margin-left: -3px;
    @media (max-width: $size-s) {
      // margin-left: 30px;
    }
  }
  .notAnimated {
    display: block;
    width: 17px;
    height: 19px;
    margin-right: 15px;
    &* {
      display: block;
      width: 17px;
      height: 19px;
    }

    @media (max-width: $size-s) {
      top: 14px;
      left: 3px;
      margin-right: 20px;
    }

  }
  .animatedArrow {
    display: block;
    width: 17px;
    height: 19px;
    margin-right: 20px;
    &* {
      display: block;
      width: 17px;
      height: 19px;
    }

    @media (max-width: $size-s) {
      top: 14px;
      left: 3px;
      margin-right: 20px;
    }

    @keyframes arrow-left {
      0% {
        transform: translate(0px, 0px);
        opacity: 0;
      }

      100% {
        transform: translate(10px, 0px);
        opacity: 1;
      }
    }
    animation: arrow-left 1s ease-out infinite;
  }
}
