@import "../../scss/variables.scss";

.container {
  background-color: #000035;
  width: 316px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  top: 0;
  left: 0;
  .menuWrapper {
    margin-bottom: 30px;
  }
  .logo {
    margin: 33px 0 71px 37px;
  }
  .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: white;
    margin-left: 37px;
  }
}
.elementMenu {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  opacity: 0.5;
  color: $white;
  margin: 5px 0 5px 26px;
}
.rightsWrapper {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  .iconsShape {
    display: flex;
    gap: 13px;
  }
  .textWrapper {
    display: flex;
    gap: 8px;
  }
  .text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $white;
    opacity: 0.35;
  }
}
.activeIcon * {
  display: block;
  fill: $white;
}
.icon * {
  display: block;
  fill: $white;
  opacity: 0.6;
}
.ActiveElementMenu {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: $white;
  margin: 5px 0 5px 26px;
}
.linkElement {
  display: flex;
  align-items: center;
  &:hover {
    background-color: $transparentMenu;
  }
  @media screen and (max-width: "1700px") {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.activeLinkElement {
  display: flex;
  align-items: center;
  background-color: $transparentMenu;
}

.activeBlockLink {
  height: 39px;
  background: linear-gradient(135.17deg, #00e476 0.29%, #00b2fd 47.83%, #0074f0 100%);
  border-radius: 0px 5px 5px 0px;
  width: 10px;
  margin-right: 27px;
}
.blockLink {
  margin-right: 37px;
}
.webLink {
  cursor: pointer;
}
