@import '../../scss/variables.scss';

.container {
  padding: 20px 20px 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $size-s) {
    padding-bottom: 190px !important;
  }

  @media (max-width: 1200px) {
    padding: 0 0 100px 0;
  }

  .headContent {
    .headInfo {
      align-content: center;
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;
      // height: 410px;
      border-radius: 20px;
      // background-image: url(../../assets/explore_waves/wave.svg),
        // url(../../assets/explore_waves/balls.svg),
        // linear-gradient(135.17deg, #00b2fd 0.29%, #0074f0 13.23%, #000035 100%);
      // background-size: cover;
      @media (max-width: 1040px) {
        flex-direction: column;
        // height: 810px;
      }

      .infoContent {
        margin-top: 20px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        z-index: 2;
        gap: 20px;
        @media (max-width: 1040px) {
          align-items: center;
          margin-left: 0;
          margin-bottom: 20px;
        }
      }
      .title {
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        font-weight: 600;
        font-size: 42px;
        line-height: 51px;
        letter-spacing: -0.13125px;
        color: $white;
        max-width: 350px;
      }

      .text {
        font-size: 16px;
        line-height: 24px;
        color: $white;
        max-width: 350px;
      }

      .buttonsWrapper {
        display: flex;
        gap: 15px;
        padding-bottom: 33px;
        > button {
          width: 150px;
        }
        // max-width: 400px;
        @media (max-width: 1040px) {
          // max-width: calc(100% - 10px);
        }

        @media (max-width: $size-s) {
          padding-bottom: 0px;
        }
      }
      .battles {
        z-index: 2;
        overflow: auto;
        padding-top: 30px !important;
        padding-right: 30px;
        padding-bottom: 30px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding-left: 70px;
        > hr {
          margin-bottom: 10px;
        }
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
        @media (max-width: $size-s) {
          padding-left: 4px;
          padding-bottom: 30px;
          padding-right: 0px;
          padding-top: 0px !important;
          > ul {
            padding-top: 30px;
          }
        }
        @media (max-width: 1040px) {
          margin-right: 0;
        }
      }
    }
  }

  .topNFTWinnersWrapper {

    @media (min-width: $size-s) {
      display: none;
    }
    .topPlayerInfo {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      align-items: center;

      .tableTitle {
        font-weight: 500;
        font-size: 28px;
        line-height: 44px;
      }
      .seeMore {
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}

.border {
  border-top: 2px solid $white;
  margin: 0 10px;
  display: none;
  @media (max-width: 1040px) {
    display: block;
  }
}

.swiperWrapper {
  // max-width: 1000px;
  width: 100%;
}

.options {
  color: white;
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
  flex-direction: row-reverse;
  padding-right: 10px;
  align-items: flex-end;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  text-transform: uppercase;
  margin-right: 55px;
  padding-bottom: 14px;

  > div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    > div {
      display: flex;
    }
  }
  @media screen and (max-width: $size-l) {
    margin-right: 0;
  }

  @media screen and (max-width: $size-s) {
    padding-left: 13px;
    padding-right: 17px;
  }

  .optionsName {
    mix-blend-mode: normal;
    opacity: 0.65;
    padding-bottom: 5px;
  }

  .optionsValue {
    display: inline-block;
    width: 107px;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.5));
    padding: 4px;
    text-align: right;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    margin-left: 5px;
  }
}